html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	margin: 0;	
}

main {
	align-items: center;
	display: flex;
	flex-direction: column;	
}

#storyZone {
	border: 2px solid black;
	font-size: 2.5rem;
	margin: 2rem 0;
	padding: 1rem;
	width: 60%;
}

#priorZone {
	text-align: center;
	width: 60%;	
}

#inputZone {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#actionInput {
	padding: 1.5rem;
	width: 30rem;
}

#actionBtn {
	border-radius: none;
	height: 5rem;
	width: 8rem;
}

.hidden {
	display: none;
}

#achievements {
	text-align: center;
}

#achievement-title {
	font-size: 3rem;
}

.achievement {
	border: 2px solid black;
	font-size: 2.5rem;
	padding: 1.5rem 2.5rem;
}

@media (max-width: 768px) {
	#storyZone {
		width: 90%;
	}

	#priorZone {
		width: 90%;
	}
}